.friends{
    display: grid;
    grid-template-areas: 
    "dialog message";
    
    grid-template-rows: 5fr 5fr; 
}

.selectedPage{
    color:red;
    font-size: 24px;

}

#mouseOnPageNumber:hover{
    font-size: 24px;    
}

#friendsPageNumbers{
    margin-top: 50px;
}